.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    font-family: 'Poppins';
    text-align: center;
    padding: 2.5em 2em;
}

.banner-titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner-texto {
    margin: 1em 0;
}

.banner-pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 0.6em;
    width: 100%;
    color: var(--branco);
    text-align: left;
}

.banner-pesquisa::placeholder {

    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background-image: url(../img/Lupa.svg);
    background-repeat: no-repeat;
    background-position: 0.6em;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 3.5em;
    }

    .banner-titulo {
        font-size: 36px;
    }

    .banner-pesquisa {
        padding: 1.5em;
        width: 50%;
    }

    .banner-pesquisa::placeholder {
        background-position: 5em;
    }
}

@media screen and (min-width: 1927px) {

    .banner {
        padding: 5em 0;
    }

    .banner-pesquisa {
        width: 35%;
    }

    .banner-pesquisa::placeholder {
        background-position: 11em;
    }
}