.contato {
    background-color: var(--branco);
    padding: 1em
}

.contato-titulo, .contato-texto {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    --text-fill-color: transparent;
}

.contato-titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato-texto {
    font-weight: 300;
    margin: 1em 0
}

.contato-email {
    color: var(--azul);
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
}

.contato-email::placeholder {
    font-family: 'Poppins';
    color: var(--azul);
    background: url('/alura-books/img/Vector.svg') no-repeat;
    padding-left: 2em;
}
