.cabeçalho-menu {
    width: 24px;
    height: 24px;    
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container-botão:checked~.container-label>.cabeçalho-menu {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container-botão:checked~.container-label {
    background: var(--azul-degrade);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em; 
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-botão:checked~.lista-menu {
    display: block;
}

.container-botão {
    display: none;
}

.lista-menu-titulo, .lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--laranja);
    font-family: 'Poppins';
    font-weight: 700;
}

.lista-menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 400;
} 

.container-titulo, .container-texto, .container-titulo-negrito, .opções {
    display: none;
}


@media screen and (min-width: 1024px) {

    .cabeçalho {
        padding: 0 2em;
    }

    .container-titulo, .container-titulo-negrito {
        font-family: 'Josefin Sans';
        font-size: 30px;
        display: flex;
    }

    .container-titulo {
        font-weight: 400;
        display: block;
    }

    .container-titulo-negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções-item {
        font-family: 'Poppins';
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 1em;
    }

    .opções-link {
        text-decoration: none;
        color: var(--preto);
    }

    .container-imagem-transparente, .cabeçalho-menu {
        display: none;
    }

    .opções-botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções-botão {
        display: none;
    }

    .opções-botão:checked~.opções-label {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções-item {
        padding: 2em 1em;
    }

    .lista-menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu-item:hover>.lista-menu-link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .container-texto {
        display: none;
    }
}

@media screen and (min-width: 1927px) {

    .container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container-texto {
        display: block;
        color: var(--preto);
        font-size: 20px; 
        font-weight: 400;
    }

    .opções {
        margin-right: auto;
    }

    .opções-item:hover {
        text-decoration: overline;
    }

}