.topicos {
    background: var(--azul-degrade);
    text-align: center;
}

.topicos-titulo {
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5em 0;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 2em 0.5em;
}

.topicos-link {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .topicos {
        padding: 2em
    }

    .topicos-titulo, .topicos-link {
        font-size: 24px;
    }

}